#!/usr/bin/env ash
# shellcheck shell=dash disable=SC2034
#
# OpenWrt Backup
#
# Creates a compressed archive of selected folders from the overlay partition,
# encrypts it with PGP and transfers it to a remote storage location using
# rsync.
#

# --------------------------------------------------
# Settings
# --------------------------------------------------

# List of directories to backup (space separated, without leading '/')
_BACKUP_DIRS='etc root'

# Backup archive filename
_ARCHIVE="myrouter.example.net-$(date +'%F_%H-%M-%S')"

# OpenPGP key ID to encrypt backup files to. Comment out to disable encryption.
_PGP_ID='0x01234567abcdefgh'

# Remote system(s) to store backups (Rsync over SSH)
# Use ~/.ssh/config to define custom ports and options for each server.
_SERVERS="
    server1.example.net:/volume1/backup/myrouter
    server2.example.net:/volume1/backup/myrouter
    "

# SSH private key
_SSH_ID='/root/.ssh/id_ed25519'

# Where to mail reports, separate by multiple addresses with commas (no spaces).
# Leave it empty for no mail reports.
_MAIL_TO="user@example.net"

# When to mail reports (set to 'always' or 'failure' or 'never').
# By default reports are sent on failure only.
_SEND_MAIL="failure"

# Health checks UUID for reporting success/failure. Comment out to disable.
# https://healthchecks.io/
_HC_PING="00000000-aaaa-bbbb-cccc-dddddddddddd"

# --------------------------------------------------
# End Of Settings
# --------------------------------------------------
